<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<main layout:fragment="main">
	<form id="reportForm">
	<input th:class="d-none" id="roomId" name="roomId" th:value="${roomId}" />
	<input th:class="d-none" id="audios" name="audios" type="text" value="X"/>
	<!-- 로그인 완성되면 아이디로 교체할 계획. -->
	<input type="text" name="user1name" id="user1name" th:class="d-none" readonly th:value="${speakmember1}" />
	<input type="text" id="user2name" name="user2name" th:class="d-none" readonly th:value="${speakmember2}" />
	<input type="number" id="report" name="report" th:class="d-none" readonly="readonly" value="0"/>
	</form>
	
	<input type="number" id="reports" name="reports" th:class="d-none" readonly="readonly" value="0"/>
	
	<div style="display: flex; justify-content: center;">
		<div
			style="margin-right: 50px; margin-right: 50px; display: flex; flex-direction: column;">
			<input type="text" id="user1name" th:class="card" readonly th:value="${speakmember1}" />
			<!-- 내 화면 송출, 7월 31일 코드 추가 -->
			<video
				style="margin-bottom: 50px; border: 2px solid #ccc; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"
				id="myFace" autoplay height="640px" width="480px"></video>

		</div>
		<div
			style="margin-right: 50px; display: flex; flex-direction: column;">
			<input type="text" id="user2name" th:class="card" readonly th:value="${speakmember2}" />
			<video
				style="border: 2px solid #ccc; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"
				id="peerFace" width="480px" height="640px" autoplay></video>
			<!-- 상대 화면 송출 -->
		</div>
	</div>
	
	
	<div style="display: flex; justify-content: center;">
		<div style="margin-right: 50px;">
			<button id="btnOffer" class="btn card">화상 채팅 연결</button>
		</div>
		<div style="margin-right: 50px;">
			<button id="btnReport" class="btn card">신고하기</button>
		</div>
		<div style="margin-right: 50px;">
			<a th:href="@{/facechat/chatroom}"><button id="btnExit" class="btn card">나가기</button></a>
		</div>
		<div>
			<button id="btnScreen" class="btn card">화면 숨김</button>
		</div>
	</div>
	
</main>

<th:block layout:fragment="myscripts">
	<script th:src="@{/js/facechat/facechat.js}"></script>

</th:block>