<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
	
<main layout:fragment="main">
<p>제대로 열린 거 맞음.</p>
	<input th:class="d-none" id="roomId" name="roomId" th:value="4" />
	<div>
		<!-- 내 화면 송출 -->
		<video id="myFace" autoplay height="640px" width="480px"></video>
        
	</div>
	<div>
		<button id="btnOffer">오퍼 생성</button>
	</div>
	<div>
		<video id="peerFace" width="480px" height="640px" autoplay></video>
		<!-- 상대 화면 송출 -->
	</div>
</main>

<th:block layout:fragment="myscripts">
	<script th:src="@{/js/facechat/facechat.js}"></script>
	
</th:block>