<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">



<main style="height: 1000px;" layout:fragment="main">
	<div style="margin: 0px 30px;">

		<div id="selectors" class="row">
			<select id="optionselect" style="display: flex; flex-direction: row; height: 50px;"
				class="card col-2">
				<option value="0">지역</option>
				<option value="1">취미</option>
				<option value="2">연령대</option>
			</select> 
			<select id="optionvalue" style="display: flex; flex-direction: row; height: 50px; width: 82%;"
				class="card col-2">
				
			</select> 
			
			
		</div>
	</div>
	<div>

		<section style="background-color: white;"
			class="the-wedding-section section-bg section-padding" id="section_3">
			<div class="container">
				<div class="row">

					<div class="col-lg-12 col-12">
						<div class="section-title-wrap mb-5">
							<h2 class="section-title">이런 모임은 어떠세요?</h2>

							<div class="section-title-bottom"></div>
						</div>
					</div>


					<div th:each = "list : ${list}"
						class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
						<div class="image-hover-thumb">
							<img src="images/decorated-table-setting-wedding-celebration.jpg"
								class="img-fluid" alt="">
						</div>

						<div class="section-block">
							<h3 class="my-3" th:text="${ list.title }">The Reception</h3>

							<p class="mb-2" th:text="${ list.location.locationname }">
								5th Avenue at, Central Park S
							</p>

							<p th:text="${ list.meetingdate }">
								5:00 PM
							</p>
						</div>
					</div>			

				</div>

			</div>
		</section>
	</div>
</main>


<th:block layout:fragment="myscripts">

</th:block>
</html>