:root {
    --maincolor: #f29191;
    --green: #86BB71;
    --blue: #94C2ED;
    --orange: #E38968;
    --gray: #92959E;
}



body {
    background: #ffffff;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}

.container1 {
    margin: 0 auto;
    width: 1200px;
    height: 638px;
    background: #FFE4B5;
    border-radius: 5px;
    overflow: hidden; /* To clear floats */
}

.people-list {
    width: 260px;
    float: left;
}

.search {
    padding: 20px;
}

input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}

.fa-search {
    position: relative;
    left: -25px;
}

.list {
    padding: 31px;
    height: 770px;
}


img {
    float: left;
}

.about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}

.status {
    color: #92959E;
}

.chat {
    width: 850px;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}

.chat-header {
    padding: 7px;
    border-bottom: 2px solid white;
}

.chat-about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
    text-align: center
}

.chat-with {
    font-weight: bold;
    font-size: 16px;
}

.chat-num-messages {
    color: #92959E;
}

.fa-star {
    float: right;
    color: #D8DADF;
    font-size: 20px;
    margin-top: 12px;
}

.chat-history {
    padding: 3px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 416px;
}

.message-data {
    margin-bottom: -15px;
    height: 5px;
    font-size: 12px;
}

.message-data-time {
    color: #92959E;
    padding-left: 6px;
    font-size: 12px;
}

.message {
    color: white;
    padding: 8px 20px;
    line-height: 18px;
    font-size: 15px;
    border-radius: 7px;
    margin-bottom: 3px;
    margin-top: 30px;
    width: 57%;
    position: relative;
}


.my-message {
    background: #86BB71;
    width: 57%;
    position: relative;
    text-align: left;
    left: 306px;
}

.other-message {
    background: #94C2ED;
}

.message:after {
    border-bottom-color: #94C2ED;
    left: 93%;
}

.chat-message {
    padding: 12px;
}

textarea {
    width: 88%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 5px;
    resize: none;
}


button {
    float: right;
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    padding: 36px 24px 36px 15px;
    background: #F2F5F8;
}

button:hover {
    color: #94C2ED;
}

.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

li {
    list-style-type: none;
}