<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<main layout:fragment="main">

	<!-- 유저 아이디 -->
	<input class="d-none" value="qwer1234" id="userId" name="userId" />

	<section class="the-wedding-section section-bg section-padding"
		id="section_3">
		<div class="container">
			<div class="row">

				<div class="col-lg-12 col-12">
					<div class="section-title-wrap mb-5">
						<h2 class="section-title">USUAL IMAGE</h2>

						<div class="section-title-bottom">
							<span class="section-title-line"></span> <img
								src="/images/photo.png" class="section-title-icon bi-heart-fill" />
							<span class="section-title-line"></span>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
					<label for="uploadFilesUsualImage1"> <img
						src="/images/Adding_a_Person_Image.png" class="img-fluid" alt=""
						id="defultImage1">
					</label> <input class="d-none" id="uploadFilesUsualImage1" type="file"
						multiple>
				</div>



				<div
					class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
					<label for="uploadFilesUsualImage2"> <img
						src="/images/Adding_a_Person_Image.png" class="img-fluid" alt=""
						id="defultImage2">
					</label> <input class="d-none" id="uploadFilesUsualImage2" type="file"
						multiple>
				</div>

				<div
					class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
					<label for="uploadFilesUsualImage3"> <img
						src="/images/Adding_a_Person_Image.png" class="img-fluid" alt=""
						id="defultImage3">
					</label> <input class="d-none" id="uploadFilesUsualImage3" type="file"
						multiple>
				</div>

			</div>
		</div>
	</section>

	<section class="the-wedding-section section-bg section-padding"
		id="section_3">
		<div class="container">
			<div class="row">

				<div class="col-lg-12 col-12">
					<div class="section-title-wrap mb-5">
						<h2 class="section-title">HOBBY IMAGE</h2>

						<div class="section-title-bottom">
							<span class="section-title-line"></span> <img
								src="/images/photo.png" class="section-title-icon bi-heart-fill" />
							<span class="section-title-line"></span>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
					<label for="hobbyUploadFilesUsualImage1"> <img
						src="/images/Adding_a_Person_Image.png" class="img-fluid" alt=""
						id="hobbyDefultImage1">
					</label> <input class="d-none" id="hobbyUploadFilesUsualImage1" type="file"
						multiple>
				</div>

				<div
					class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
					<label for="hobbyUploadFilesUsualImage2"> <img
						src="/images/Adding_a_Person_Image.png" class="img-fluid" alt=""
						id="hobbyDefultImage2">
					</label> <input class="d-none" id="hobbyUploadFilesUsualImage2" type="file"
						multiple>
				</div>

				<div
					class="col-lg-4 col-md-6 col-12 d-flex flex-column mb-4 mb-lg-0 mb-md-0">
					<label for="hobbyUploadFilesUsualImage3"> <img
						src="/images/Adding_a_Person_Image.png" class="img-fluid" alt=""
						id="hobbyDefultImage3">
					</label> <input class="d-none" id="hobbyUploadFilesUsualImage3" type="file"
						multiple>
				</div>
			</div>
		</div>
	</section>
	
	<div class="section-bg">
		<button>매칭 시작</button>
	</div>
</main>

<th:block layout:fragment="myscripts">
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/image/image_upload.js"></script>
</th:block>

</html>