<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<main layout:fragment="main">
	<table class="table">
		<thead>
			<tr>
				<th style="text-align: center;">문의자</th>
				<th style="text-align: center;">문의유형</th>
				<th style="text-align: center;">문의내용</th>
				<th style="text-align: center;">작성시간</th>
				<th style="text-align: center;">처리상태</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				
			</tr>
		</tbody>
	</table>
		<div>
			<button class="form-control btn btn-outline-success"
                            id="btnBack">문의목록으로</button>
		</div>
</main>
</html>