<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<body>
	<th:block layout:fragment="css">
	</th:block>

	<main layout:fragment="main">
		<!-- TODO: 로그인 아이디  "a"나중에 실제 로그인 하는 아이디로 변경-->
		<input class="d-none" th:value="b" id="senderId" /> <input
			class="d-none" th:value="${id}" id="getterId" />

		<section class="about-section section-padding" id="section_2">
			<div class="container">


				<div class="section-title-wrap mb-5">
					<h2 class="section-title">상세프로필</h2>
					<div class="section-title-bottom">
						<span class="section-title-line"></span> <i
							class="section-title-icon bi-heart-fill"></i> <span
							class="section-title-line"></span>
					</div>


					<div class="row">
						<div class="col-md-6">
							<!-- 이미지 삽입 할 위치 -->
							<div id="carouselExample" class="carousel slide">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img th:src="${usualPic1}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img th:src="${usualPic2}" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img th:src="${usualPic3}" class="d-block w-100" alt="...">
									</div>
								</div>
								<button class="carousel-control-prev" type="button"
									data-bs-target="#carouselExample" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button"
									data-bs-target="#carouselExample" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
						<div class="col-md-6">


							<div>
								<div class="about-info-wrap d-flex flex-column"
									style="display: flex !important; flex-wrap: wrap; align-content: center; margin: 40px; ">
									<!-- 프로필 이름과 직업 -->
									<div class="about-info-title d-flex align-items-center my-3">
										<h6 id="memberName" th:text="${member.nickname}"></h6>
										<h6 class="about-tag ms-4" id="memberJob" th:text="${job}"></h6>										
									</div>
								</div>
								<div class="about-info-wrap d-flex flex-column">
									<!-- 자기소개 -->
									<h6>자기소개</h6>
									<br /> <span th:text="${profile.userIntroduce}"
										id="memberIntroduce"></span>
								</div>

								<!-- 호감도 표시를 -->
								<div class="about-info-wrap d-flex flex-column" style="margin: 40px;">
									<!-- 여자일 경우 -->
									<div th:if="${member.sex} == 0">
										<h6 style="padding-bottom: 15px;">호감 보내기</h6>
										<br />
										<button type="button" class="btn btn-warning btn-lg" id="btnSexy">sexy
										<span id="memberSexyCount"> 
										<span th:text="${assessment.sexy}" id="sexyCount" class="badge text-bg-secondary"></span>
										</span> 
										<span id="memberSexy" class="d-none">sexy</span>
										</button>
										
										<button type="button" id="btnBeautiful" class="btn btn-warning btn-lg">beautiful
										<span id="memberBeautifulCount"> 
										<span th:text="${assessment.beautiful}" id="beautifulCount" class="badge text-bg-secondary"></span>
										</span> 
										<span id="memberBeautiful" class="d-none">beautiful</span>
										</button>
										
										<button type="button" id="btnCute" class="btn btn-warning btn-lg">cute
										<span id="memberCuteCount"> 
										<span th:text="${assessment.cute}" id="cuteCount" class="badge text-bg-secondary"></span>
										</span> 
										<span id="memberCute" class="d-none">cute</span>
										</button>
									</div>
									
									<!-- 남자일 경우 -->
									<div th:if="${member.sex} == 1">
									
										<h6 style="padding-bottom: 15px;">호감 보내기</h6>
										<br />
										<button type="button" id="btnCute" class="btn btn-warning btn-lg">cute
										<span id="memberCuteCount">
										<span th:text="${assessment.cute}" id="cuteCount" class="badge text-bg-secondary"></span>
										</span>
										<span id="memberCute" class="d-none">cute</span>
										</button>

										<button type="button" id="btnWonderful" class="btn btn-warning btn-lg">wonderful
										<span id="memberWonderfulCount">
										<span th:text="${assessment.wonderful}" id="wonderfulCount" class="badge text-bg-secondary"></span>
										</span>
										<span id="memberWonderful" class="d-none">wonderful</span>
										</button>
										

										<button type="button" id="btnHandsome" class="btn btn-warning btn-lg">handsome
										<span id="handsomeCount">
										<span th:text="${assessment.handsome}" id="handsomeCount" class="badge text-bg-secondary"></span>
										</span>
										<span id="memberHandsome" class="d-none">handsome</span>
										</button>
										
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- 기본정보 입력(키, 나이, 학력,...) -->
		<section class="gallery-section section-bg section-padding"
			style="padding-top: 100px; padding-bottom: 0px;" id="section_5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="section-title-wrap mb-5">
							<div
								style="display: flex; justify-content: center; margin-bottom: 40px;">
								<h4 class="section-title">기본정보</h4>
							</div>
							<div>
								<table class="table">
									<tbody>
										<tr>
											<td style="margin-right: 20px;">키</td>
											<td th:text="${height}"></td>
										</tr>
										<tr>
											<td style="margin-right: 20px;">나이</td>
											<td th:text="${age}"></td>
										</tr>
										<tr>
											<td style="margin-right: 20px;">학력</td>
											<td th:text="${academic}"></td>
										</tr>
										<tr>
											<td style="margin-right: 20px;">흡연</td>
											<td th:text="${smoke}"></td>
										</tr>
										<tr>
											<td style="margin-right: 20px;">음주</td>
											<td th:text="${drinks}"></td>
										</tr>
										<tr>
											<td style="margin-right: 20px;">종교</td>
											<td th:text="${religion}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="gallery-section section-bg" id="section_5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="section-title-wrap mb-5">
							<div
								style="display: flex; justify-content: center; margin-bottom: 40px;">
								<h4 class="hobbies-list">취미 리스트</h4>
							</div>
							<!-- ${userHobbies}에서 하나씩 원소를 꺼내 hob에 담음 -->
							<div class="row">
								<div class="col-md-4" th:each="hob : ${userHobbies}">
									<p th:text="${hob}"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="about-section section-padding" id="section_2">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="section-title-wrap mb-5">
							<!-- 취미 사진 삽입 할 위치 -->
							<h2 class="section-title">취미 사진</h2>
						</div>
						<div class="row">
							<div class="col-lg-4 col-12">
								<div class="gallery-thumb image-hover-thumb">
									<a href="#" class="popup-image"> <img th:src="${hobbyPic1}"
										class="gallery-image img-fluid" alt="">
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="gallery-thumb image-hover-thumb">
									<a href="#" class="popup-image"> <img th:src="${hobbyPic2}"
										class="gallery-image img-fluid" alt="">
									</a>
								</div>
							</div>
							<div class="col-lg-4 col-12">
								<div class="gallery-thumb image-hover-thumb">
									 <img th:src="${hobbyPic3}"
										class="gallery-image img-fluid" alt="">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
	<th:block layout:fragment="myscripts">
		<script src="/js/matching/matchingDetail.js"></script>
	</th:block>

</body>
</html>
