<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<meta charset="UTF-8">
<div layout:fragment="main">
	<div>
		<h1>아이디 찾기</h1>
	</div>
	<div>
		<label> 이름:</label> <input type="text" id="findId" name="findId"></input> <span
			id="findIdMs"> </span>
	</div>
	<div>
		<label> 휴대전화:</label> <input type="text" id="phone" name="phone"></input> 
		<span id="phoneSearch"></span>
	</div>
</div>
</html>