<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/base_layout}">
<meta charset="UTF-8">
<main layout:fragment="main">
	<form id="findIdForm"></form>
	<div>
		<h1>아이디 찾기</h1>
	</div>
	<div>
		<label> 이름:</label>
		<input type="text" id="userid" name="findId" />
	</div>
	<div>
		<label> Email:</label>
		<input type="text" id="email" name="phone" />
	</div>
	<div>
		<span class="btn" id="btnSendAuthenticationNumber">인증번호 전송</span>
	</div>
	<div>
		<input type="number" id="authenticationNumber" >
		<span class="btn" id="btnCheckKey">인증번호 확인</span>
	</div>
</main>

<th:block layout:fragment="myscripts">
	<script src="/js/authentication/findid.js"></script>
</th:block>

</html>