<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<div layout:fragment="main">
	<div>
		<div>
			<h1>회원 가입 페이지</h1>
		</div>
		<div>
			<form method="post" th:action="@{ /member/signup }">

				<div class="my-2">
					<input type="text" name="userid" placeholder="사용자 아이디" required
						autofocus />
					<button id="idcf" type="button">중복확인</button><br>
					<span id="cfmessage"></span>
				</div>

				<div class="my-2">
					<input type="password" name="password" placeholder="비밀번호" required />
				</div>

				<div class="my-2">
					<input type="text" name="username" placeholder="이름" required />
				</div>

				<div class="my-2">
					<input type="datetime" name="birthdate" placeholder="생년월일" required />
				</div>

				<select name="sex">
					<option value=1 >남성</option>
					<option value=2 >여성</option>
				</select>

				<div class="my-2">
					<input type="number" name="phone" placeholder="핸드폰 번호" required />
				</div>

				<div class="my-2">
					<input type="email" name="email" placeholder="이메일" required />
				</div>

				<div class="my-2">
					<input type="text" name="nickname" placeholder="닉네임" required />
				</div>

				<div class="my-2">
					<input id="signup" type="submit" value="가입 완료" />
				</div>
			</form>
		</div>
	</div>
</div>

</html>