<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http:www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<body>
	<main layout:fragment="main" style="margin-left:150px; margin-right:150px; margin-bottom: 150px; margin-top:70px">

		<div style="display: flex; justify-content: space-around;">
			<h2>공지&이벤트 메인 페이지</h2>
		</div>
		<div class="btn-toolbar mb-3" role="toolbar"
			aria-label="Toolbar with button groups">
			<div class="btn-group me-2" role="group" aria-label="First group">
				<a type="button" class="btn btn-warning"
					th:href="@{/announcementEvent/eventMain}">메인</a> <a type="button"
					class="btn btn-warning" th:href="@{/announcementEvent/eventCreate}">작성하기</a>
				<a type="button" class="btn btn-warning"
					th:href="@{/announcementEvent/eventUser}">유저페이지(임시)</a>

			</div>
		</div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>공지&이벤트</th>
					<th>수정시간</th>
				</tr>
				<tr th:each="post : ${announcemnetEvent}">
					<td th:text="${post.id}"></td>
					<td><a
						th:href="@{/announcementEvent/eventDetails?id={id} (id=${post.id})}"
						th:text="${post.title}"></a></td>
					<td>관리자</td>
					<td th:if="${post.divide} == 0">이벤트</td>
					<td th:if="${post.divide} == 1">공지</td>
					<td
						th:text="${#temporals.format(post.modifiedTime, 'yyyy-MM-dd HH:mm:ss')}">
					</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>


	</main>

</body>
</html>
