<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
	
<main layout:fragment="main">
<div>
	<table class="table">
		<thead>
		<tr>
			<th>문의자</th>
			<th>문의유형</th>
			<th>문의내용</th>
			<th>작성시간</th>
			<th>수정시간</th>
			<th>처리상태</th>
			<th>처리완료시간</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
			<td>5</td>
			<td>6</td>
			<td>7</td>
		</tr>
		</tbody>
	</table>
</div>
</main>
<th:block layout:fragment="myscripts">
	
	
</th:block>